.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontSize {
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
}

.blueLink {
    color:blue !important;
}

.title {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    color: yellow;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    color: green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biggerRed {
    font-size: 25px;
    color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.redError {
    color: red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.bottomMargin {
    margin-bottom: 10px !important;
}

.biggerGreen{
    font-size: 25px;
    color: green;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueLinkWithMargin {
    color:blue !important;
    margin-bottom: 15px !important;
}