.center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontSize {
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
}

.blueLink {
    color:blue !important;
}

.title {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}